<div class="body1">
    <div class="container">
        <div class="row">
            <div class="col-4 pt-5" *ngFor="let item of collection ">
    
                <div class="card">
                    <img src="{{item.img}}" class="card-img-top" alt="...">
    
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <h5 class="card-desc"></h5>
    
                        <p class="card-text">{{item.desc}}...</p>
    
                        <a href="" class="btn btn-primary">Go to</a>
                    </div>
                </div>
    
    
            </div>
               
        </div>
    </div>
</div>
